[Unit]
Description=Bootparamd Netboot Sun Workstations From Linux
Requires=network-online.target
After=network-online.target

ConditionPathExists=/etc/bootparams

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.bootparamd

[Install]
WantedBy=multi-user.target
